@charset "UTF-8";
@import "base.css";
@import "fonts.css";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,500,700,900&display=swap&subset=japanese');
@import "font-family.css";
@import "normalize.css";
h1, h2, h3, h4, h5, h6, input, button, textarea, select, p, blockquote, th, td, pre, address, li, dt, dd {
  font-size: 160%;
  -webkit-text-size-adjust: none;
}
header, section, footer, aside, nav, main, article, figure {
  display: block;
}
img {
  vertical-align: bottom;
}
a {
  color: #e3a958;
}
a:not(.no-hover):hover, a:active {
  text-decoration: none;
}
p {
  margin: 0 0 1.5em;
}
.bold {
  font-weight: bold;
}
table {
  width: 100%;
}
p, dd, td, th, li {
  line-height: 2em;
}
.image-l {
  float: left;
  margin: 7px 40px 8px 0;
  line-height: 0;
}
.image-r {
  float: right;
  margin: 7px 0 8px 40px;
  line-height: 0;
}
img {
  max-width: 100%;
}
html {
  background: none;
}
body {
  color: #111;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, sans-serif;
}
#wrapper {
  min-width: 1120px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.container {
  width: 1120px;
  margin: 0 auto;
  position: relative;
  text-align: left;
}
.w33 {
  width: 33.33%;
}
#totop {
  bottom: 63px;
  cursor: pointer;
  display: none;
  overflow: hidden;
  position: fixed;
  right: 50px;
  text-decoration: none;
  margin: 0;
  z-index: 50;
  width: 60px;
}
#totop:hover {
  opacity: 0.7;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
*, *:before, *:after {
  box-sizing: border-box;
  outline: none;
}
/**************Header************/
#header {
  background: #fff;
}
#header h1 {
  padding: 16px 30px;
  margin: 0;
  font-size: 12px;
  color: #2e344e;
}
.h-top {
  padding: 0 30px 10px;
  display: flex;
}
.h-top > li:nth-child(1), .h-top > li:nth-child(2) {
  width: 184px;
  padding: 30px 0 0 70px;
  background: url("../images/h_ico1.png") left 16px no-repeat;
  background-size: 60px auto;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  font-size: 12px;
  color: #333;
  line-height: 1.5em;
}
.h-top > li:nth-child(1) span, .h-top > li:nth-child(2) span {
  display: block;
  color: #debb6f;
}
.h-top > li:nth-child(2) {
  width: 210px;
  background: url("../images/h_ico2.png") left 16px no-repeat;
  background-size: 60px auto;
}
.h-top > li:nth-child(3) {
  width: 326px;
  padding: 13px 0 0;
}
.h-top > li:nth-child(4) {
  width: 340px;
}
.h-tel {
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
}
.h-tel li:first-child {
  font-size: 13px;
  font-weight: bold;
  color: #333;
  padding-top: 5px;
  margin-right: 10px;
}
.h-tel li:last-child a {
  text-decoration: none;
  color: #333;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  font-size: 20px;
}
.h-tel li:last-child a:before {
  display: inline-block;
  content: '';
  background: url("../images/h_phone.png") no-repeat;
  background-size: 100% auto;
  width: 22px;
  height: 22px;
  margin-right: 7px;
  margin-bottom: 8px;
  vertical-align: middle;
}
.h-cont {
  text-align: center;
}
.h-cont a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  text-align: center;
  background: #b27b6f;
  width: 100%;
  max-width: 340px;
  padding: 7px 0 10px;
  display: inline-block;
  border-radius: 30px;
}
.h-cont a:before {
  display: inline-block;
  content: '';
  background: url("../images/h_24h.png") no-repeat;
  background-size: 100% auto;
  width: 32px;
  height: 34px;
  margin-right: 8px;
  margin-top: -5px;
  vertical-align: middle;
}
#gnavi {
  position: absolute;
  z-index: 100;
  left: 0;
  top: 450px;
  display: flex;
  justify-content: center;
  width: 1120px;
}
#index #gnavi {
  top: 745px;
}
#gnavi > li > a, #gnavi > li > span {
  padding: 21px 38px;
  background: rgba(255, 255, 255, .9);
  text-decoration: none;
  color: #333;
  font-family: 'NotoSansCJKjp-Medium';
  text-align: center;
  line-height: 1.5em;
  letter-spacing: .07em;
  cursor: pointer;
  display: block;
  transition: all .5s;
}
#gnavi > li.no-hover > span {
  cursor: auto;
}
#gnavi > li > a > .en, #gnavi > li > span > .en {
  display: block;
  color: #e3a958;
  font-size: 12px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  transition: all .5s;
}
#gnavi > li:not(.no-hover):hover > a, #gnavi > li:not(.no-hover):hover > span {
  background: rgba(222, 187, 111, .9);
  color: #fff;
}
#gnavi > li:not(.no-hover):hover > a > .en, #gnavi > li:not(.no-hover):hover > span > .en {
  color: #fff;
}
#gnavi > li.no-hover > span {
  padding-top: 10px;
  padding-bottom: 13px;
}
#gnavi > li:nth-child(1) > a, #gnavi > li:nth-child(2) > a, #gnavi > li:nth-child(3) > a {
  padding: 21px 44px;
}
.over {
  position: relative;
  z-index: 100;
}
.submenu {
  position: absolute;
  z-index: 100;
  background: #ebc97e;
  padding: 0 15px;
  display: none;
  width: 350px;
}
.submenu ul {
  width: 140px;
  display: inline-block;
  vertical-align: top;
}
.submenu ul:first-child {
  margin-right: 30px;
}
.submenu ul li a {
  text-decoration: none;
  color: #fff;
  font-family: 'NotoSansCJKjp-Medium';
  text-align: center;
  display: block;
  padding: 25px 0;
  border-bottom: #e5cd98 1px solid;
  transition: all .5s;
}
.submenu ul li:last-child a {
  border-bottom: none;
}
.submenu ul li a:hover {
  color: #333;
}
#gnavi.fixed {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0 !important;
  background: rgba(255, 255, 255, .9);
}
#gnavi.fixed > li > a, #gnavi.fixed > li > span {
  background: none;
}
#index #mainvisual {
  height: 710px;
  position: relative;
}
#index #mainvisual .idx-slide, #index #mainvisual .slick-list, #index #mainvisual .slick-track {
  height: 100%;
}
#index #mainvisual .idx-slide .bg01 {
  background: url("../images/idx_slide_01.jpg") center no-repeat;
  background-size: cover;
}
#index #mainvisual .idx-slide .bg02 {
  background: url("../images/idx_slide_02.jpg") center no-repeat;
  background-size: cover;
}
#index #mainvisual .idx-slide .bg03 {
  background: url("../images/idx_slide_03.jpg") center no-repeat;
  background-size: cover;
}
#index #mainvisual .idx-slide .slick-dots {
  bottom: 160px;
}
#index #mainvisual .idx-slide .slick-dots li {
  width: 10px;
  height: 10px;
  margin: 0 10px;
}
#index #mainvisual .idx-slide .slick-dots li button {
  width: 10px;
  height: 10px;
}
#index #mainvisual .idx-slide .slick-dots li button:before {
  width: 10px;
  height: 10px;
  background: #fff;
}
#index #mainvisual .idx-slide .slick-dots li.slick-active button:before {
  background: #f08c00;
}
#index #mainvisual h2 {
  position: absolute;
  padding: 7px 35px;
  background: #debb6f;
  color: #fff;
  font-family: 'NotoSansCJKjp-Medium';
  font-size: 18px;
  line-height: 1.5em;
  border-radius: 30px;
  text-align: center;
  top: 40px;
  right: calc(50% - 560px);
}
#index #mainvisual .main-txt {
  position: absolute;
  top: 261px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  font-family: 'NotoSansCJKjp-Medium';
  font-size: 24px;
  text-align: center;
  color: #fff;
  width: 100%;
  line-height: 1.2em;
  letter-spacing: .1em;
}
#index #mainvisual .main-txt span {
  display: block;
  font-family: 'NotoSerifCJKjp-Medium';
  font-size: 56px;
  letter-spacing: .1em;
  line-height: 1.2em;
  margin-bottom: 22px;
}
/**************Index************/
.box01 {
  padding: 100px 0 190px;
  text-align: center;
}
.b01-logo {
  margin-bottom: 16px;
}
.box01 h3 {
  font-size: 62px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  color: #333;
  letter-spacing: .1em;
}
@-webkit-keyframes b01-bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}
@keyframes b01-bounce {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}
.box01 h3 span {
  color: #fad421;
  display: inline-block;
  -webkit-animation: b01-bounce 1.5s infinite both;
  animation: b01-bounce 1.5s infinite both;
}
.box02 {
  background: url("../images/b02_bg.jpg");
  padding: 1px 0 87px;
  text-align: center;
}
.box02 .container {
  text-align: center;
  color: #fff;
}
.b02-img {
  margin: -138px 0 58px;
}
.box02 h4 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 10px;
  letter-spacing: .1em;
}
.b02-subttl {
  font-family: 'NotoSansCJKjp-Regular';
  font-size: 18px;
  margin-bottom: 38px;
  letter-spacing: .1em;
}
.b02-list {
  display: flex;
  justify-content: center;
  margin-bottom: 29px;
}
.b02-list li {
  margin: 0 40px;
}
.b02-list li p:nth-child(1) {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 20px;
  margin-bottom: 10px;
  letter-spacing: .1em;
}
.b02-list li p:nth-child(2) {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  line-height: 4em;
  letter-spacing: .1em;
}
.b02-list li p:nth-child(2) span:nth-child(1) {
  font-size: 40px;
  display: flex;
  align-items: flex-start;
  line-height: .8em;
}
.b02-list li p:nth-child(2) span:nth-child(2) {
  font-size: 90px;
  letter-spacing: .1em;
}
.b02-list li p:nth-child(3) {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
  letter-spacing: .1em;
}
.b02-list li p:nth-child(4) {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: .1em;
  line-height: 1em;
  margin-bottom: 20px;
}
.b02-txt {
  letter-spacing: .05em;
}
.b02-bnr {
  display: block;
  border: #fff 1px solid;
  border-radius: 20px;
  padding: 15px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  max-width: 600px;
  margin: 0 auto;
  transition: all .3s;
}
.b02-bnr p:nth-child(1) {
  margin-bottom: 5px;
}
.b02-bnr p:nth-child(2) {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: .2em;
  margin-bottom: 5px;
  line-height: 1.6em;
}
.b02-bnr p:nth-child(3) {
  margin-bottom: 0;
}
.b02-bnr p:nth-child(3):before {
  position: relative;
  content: '';
  display: inline-block;
  margin-right: 10px;
  top: -1px;
  background: url("../images/arrow_01.png") no-repeat;
  background-size: 100% auto;
  width: 12px;
  height: 10px;
  transition: all .3s;
}
.b02-bnr:hover {
  background: #fff;
  color: #e3a958;
}
.b02-bnr:hover p:nth-child(3):before {
  background: url("../images/b03_img02.png") no-repeat;
  background-size: 100% auto;
}
.box03 {
  padding: 110px 0 70px;
}
.ttl-en {
  text-align: center;
  color: #debb6f;
  font-size: 18px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  margin-bottom: 2px;
  letter-spacing: .1em;
}
.box03 h3 {
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #333;
  line-height: 1.25em;
  margin-bottom: 4px;
  letter-spacing: .1em;
}
.b03-subttl {
  text-align: center;
  color: #333;
  font-family: 'NotoSansCJKjp-Regular';
  margin-bottom: 78px;
  letter-spacing: .1em;
}
.b03-box {
  display: flex;
  justify-content: space-between;
}
.b03-l {
  width: 530px;
}
.box03 h4, .box04 h4 {
  font-family: 'NotoSansCJKjp-Medium';
  font-size: 20px;
  margin-bottom: 23px;
  letter-spacing: .03em;
}
.box03 h4 .en, .box04 h4 .en {
  color: #debb6f;
  font-size: 12px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  display: inline-block;
  margin-left: 10px;
  letter-spacing: .1em;
}
.b03-time {
  margin-bottom: 10px;
}
.b03-r {
  width: 530px;
}
.b03-h4cnt, .b04-h4cnt {
  display: flex;
  justify-content: space-between;
}
.b03-h4cnt li:last-child, .b04-h4cnt li:last-child {
  line-height: 1.5em;
}
.text-link {
  font-size: 14px;
  color: #111;
  text-decoration: none;
  cursor: text
}
.text-link:after {
  display: inline-block;
  content: '';
  background: url("../images/b03_img02.png") no-repeat;
  background-size: 100% auto;
  width: 12px;
  height: 10px;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: -3px;
}
.b03-r iframe {
  width: 100%;
  height: 246px;
  margin-bottom: 8px;
}
.b03-add {
  font-size: 14px;
  color: #333;
  letter-spacing: .02em;
  line-height: 1.8em;
}
.box04 {
  padding: 100px 0 96px;
  background: #f4f4f4;
}
.b04-h4cnt {
  padding: 0 23px 7px 20px;
}
.b04-box {
  height: 235px;
  overflow: auto;
}
.b04-list li {
  display: flex;
  padding: 22px 45px 21px 20px;
  border-top: #e6e6e6 1px solid;
  background: url("../images/b03_img02.png") right 24px center no-repeat;
  background-size: 12px 10px;
}
.b04-list li:last-child {
  border-bottom: #e6e6e6 1px solid;
}
.b04-list li span:nth-child(1) {
  width: 150px;
  font-weight: bold;
}
.b04-list li span:nth-child(2) {
  width: calc(100% - 150px);
}
.b04-list li span:nth-child(2) a {
  text-decoration: none;
  color: #111;
}
.b04-list li span:nth-child(2) a:hover {
  text-decoration: underline;
}
.box05 {
  background: url("../images/b05_bg.jpg") center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.b05-box {
  width: 560px;
  background: rgba(70, 45, 40, .5);
  padding: 162px 0 194px;
  color: #fff;
  text-align: center;
}
.box05 h3 {
  font-family: 'NotoSansCJKjp-Medium';
  font-size: 20px;
  margin-bottom: 6px;
}
.box05 .ttl-en {
  font-size: 12px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  margin-bottom: 25px;
  color: #fff;
}
.b05-cnt {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.b05-cnt li {
  margin: 0 9px;
  -ms-writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  writing-mode: tb-rl;
  white-space: nowrap;
  font-size: 30px;
  text-align: left;
  font-family: 'NotoSerifCJKjp-Medium';
  letter-spacing: .1em;
}
/* start fix chrome */
@supports (-webkit-appearance:none) and (not (overflow:-webkit-marquee)) and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none)) {
  .b05-cnt li {
    letter-spacing: -.33em;
  }
  .b05-cnt li .reset {
    margin-top: 9px;
  }
}
/* end fix chrome */
/* start Safari 9+ */
@supports (-webkit-marquee-repetition:infinite) and (object-fit:fill) {
  .b05-cnt li {
    letter-spacing: .5em;
  }
}
/* end Safari 9+ */
.b05-cnt li:nth-child(1) {
  font-size: 14px;
  padding-top: 5px;
}
.b05-cnt li:nth-child(1) .font26 {
  font-size: 26px;
}
.b05-cnt li .reset {
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝B", serif;
}
.idx-btn {
  text-align: center;
}
.idx-btn a {
  display: inline-block;
  background: #fad421 url(../images/arrow_01.png) right 20px center no-repeat;
  background-size: 12px 10px;
  min-width: 300px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  padding: 7px 40px 11px;
  border-radius: 30px;
  transition: all .5s;
}
.idx-btn a:hover {
  background: #faed21 url(../images/arrow_01.png) right 20px center no-repeat;
  background-size: 12px 10px;
}
.box06 {
  padding: 109px 0 88px;
}
.b06-subttl, .b07-subttl {
  text-align: center;
  font-family: 'NotoSansCJKjp-Regular';
  font-size: 17px;
  letter-spacing: .1em;
  margin-bottom: -3px;
}
.b06-subttl .en, .b07-subttl .en {
  display: block;
  color: #debb6f;
  font-size: 18px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  margin-bottom: 2px;
}
.box06 h3, .box07 h3 {
  color: #333;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-bottom: 45px;
  letter-spacing: .1em;
}
.box06 h3 .num {
  font-size: 120px;
  color: #debb6f;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 35px;
}
.box06 h3 .large {
  font-size: 50px;
}
.b06-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.b06-list li {
  position: relative;
  margin: 0 0 115px;
}
.b06-list li:nth-child(5), .b06-list li:nth-child(6) {
  margin: 0 0 80px;
}
.b06-list li:nth-child(even) {
  margin-right: 20px;
}
.b06-list li .num {
  position: absolute;
  left: 27px;
  top: -97px;
  color: #DFB976;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 100px;
}
.b06-list li:nth-child(2n) .num {
  color: #F0DB68
}
.b06-list li .img {
  margin-bottom: 0;
  -webkit-box-shadow: 20px 20px 0px 0px rgba(222, 187, 111, 1);
  -moz-box-shadow: 20px 20px 0px 0px rgba(222, 187, 111, 1);
  box-shadow: 20px 20px 0px 0px rgba(222, 187, 111, 1);
}
.b06-list li:nth-child(even) .img {
  -webkit-box-shadow: 20px 20px 0px 0px rgba(240, 219, 104, 1);
  -moz-box-shadow: 20px 20px 0px 0px rgba(240, 219, 104, 1);
  box-shadow: 20px 20px 0px 0px rgba(240, 219, 104, 1);
}
.b06-list li h4 {
  text-align: right;
  position: absolute;
  bottom: 30px;
  right: 25px;
  font-family: 'NotoSansCJKjp-Black';
  color: #fff;
  font-size: 28px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  letter-spacing: .1em;
  line-height: 1.2em;
}
.b06-list li h4 span {
  font-size: 20px;
  letter-spacing: .1em;
}
.b07-subttl {
  font-size: 16px;
  margin-bottom: 8px;
}
.box07 h3 {
  font-size: 40px;
  margin-bottom: 81px;
}
.box07 .tabs {
  display: flex;
  justify-content: center;
  margin: 0 0 -1px;
}
.box07 .tabs li {
  width: 300px;
  text-align: center;
  color: #fff;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  font-size: 18px;
  padding: 11px 0 13px;
  border-radius: 20px 20px 0 0;
  background: #c8c8c8;
  margin: 0 5px;
  cursor: pointer;
  transition: all .5s;
}
.box07 .tabs li:hover, .box07 .tabs li.current {
  background: #debb6f;
}
.box07 .tab-content {
  display: none;
  background: #debb6f;
  padding: 80px 0 57px;
}
.box07 .tab-content.current {
  display: inherit;
}
.b07-cnt {
  display: flex;
  justify-content: space-between;
}
.b07-main-img {
  margin-bottom: 0;
  width: 560px;
}
.b07-main-cnt {
  width: calc(100% - 560px);
}
#b07-tab-1 .b07-main-cnt {
  padding-top: 45px;
}
#b07-tab-2 .b07-main-cnt h4 {
  margin-bottom: 0;
}
#b07-tab-3 .b07-main-cnt {
  padding-top: 23px;
}
#b07-tab-3 .b07-main-cnt h4 {
  margin-bottom: 43px;
}
.b07-main-cnt h4 {
  color: #fff;
  font-size: 32px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  line-height: 1.5em;
  margin-bottom: 56px;
  letter-spacing: .1em;
}
.b07-main-cnt .b07-subttl {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  font-size: 23px;
  margin-bottom: 10px;
  color: #fff;
}
.b07-list {
  display: flex;
  justify-content: space-between;
}
.b07-img {
  text-align: center;
  margin-bottom: 10px;
}
.b07-caption {
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 25px;
  line-height: 1.4em;
}
.box08 {
  padding: 111px 0 100px;
}
.box08 h3 {
  font-size: 40px;
  color: #333;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
  margin-top: 7px;
  letter-spacing: .1em;
}
.b08-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.b08-list li {
  margin: 0 0 20px;
  width: 360px;
  border: #e8e8e8 1px solid;
  -webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.05);
  transition: all .5s;
}
.b08-list li:hover {
  -webkit-box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.3);
}
.b08-list li a {
  display: block;
  position: relative;
  text-decoration: none;
}
.b08-list li a:after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #debb6f transparent;
  right: 7px;
  bottom: 7px;
}
.b08-list li a h4 {
  padding: 27px 0 22px 85px;
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4em;
  letter-spacing: .1em;
}
.b08-list li a h4 .en {
  display: block;
  font-size: 12px;
  color: #debb6f;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.b08-list li:nth-child(1) a h4 {
  background: url("../images/b08_img01.png") 20px center no-repeat;
  background-size: 53px auto;
}
.b08-list li:nth-child(2) a h4 {
  background: url("../images/b08_img02.png") 20px center no-repeat;
  background-size: 53px auto;
}
.b08-list li:nth-child(3) a h4 {
  background: url("../images/b08_img03.png") 20px center no-repeat;
  background-size: 53px auto;
}
.b08-list li:nth-child(4) a h4 {
  background: url("../images/b08_img04.png") 20px center no-repeat;
  background-size: 53px auto;
}
.b08-list li:nth-child(5) a h4 {
  background: url("../images/b08_img05.png") 20px center no-repeat;
  background-size: 53px auto;
}
.b08-list li:nth-child(6) a h4 {
  background: url("../images/b08_img06.png") 20px center no-repeat;
  background-size: 53px auto;
}
.b08-list li:nth-child(7) a h4 {
  background: url("../images/b08_img07.png") 20px center no-repeat;
  background-size: 53px auto;
}
.b08-list li:nth-child(8) a h4 {
  background: url("../images/b08_img08.png") 20px center no-repeat;
  background-size: 53px auto;
}
.b08-list li:nth-child(9) a h4 {
  background: url("../images/b08_img09.png") 20px center no-repeat;
  background-size: 53px auto;
}
.box09 {
  background: url("../images/b09_bg.jpg") center no-repeat;
  background-size: cover;
}
.box09 .container {
  padding: 150px 110px 118px;
  color: #fff;
}
.box09 .ttl-en {
  color: #fff;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}
.box09 h3 {
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 70px;
  margin-top: 8px;
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  letter-spacing: .1em;
}
.b09-txt {
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 34px;
}
/**************Footer************/
#footer {
  padding: 75px 0 0;
}
.f-top {
  margin-bottom: 50px;
}
.f-top-l {
  width: 530px;
  text-align: center;
}
.f-logo {
  margin-bottom: 25px;
  text-align: center;
}
.f-bot {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.f-add {
  margin-bottom: 17px;
  font-size: 13px;
  color: #333;
  line-height: 1.7em;
  text-align: left;
}
.f-contact {
  display: flex;
  justify-content: space-between;
}
.f-contact .h-tel {
  width: 230px;
  flex-direction: column;
  margin-top: -20px;
}
.f-contact .h-cont {
  width: 280px;
}
.f-contact .h-cont a {
  font-size: 14px;
}
.f-contact .h-tel li:last-child a {
  font-size: 20px;
}
.f-time {
  width: 530px;
  margin-bottom: 5px;
}
.f-top-r .b03-scheduletxt {
  margin-bottom: 0;
}
#footer iframe {
  width: 100%;
  height: 400px;
}
.f-link {
  padding: 74px 110px 70px;
  display: flex;
}
.f-link dl:first-child {
  margin-right: 95px;
}
.f-link dl dt {
  font-weight: bold;
  margin-bottom: 12px;
}
.f-link dl dd {
  display: flex;
}
.f-link dl dd ul:not(:last-child) {
  margin-right: 85px;
}
.f-link dl:last-child dd ul:not(:last-child) {
  margin-right: 98px;
}
.f-link dl dd ul li:not(:last-child) {
  margin-bottom: 8px;
}
.f-link dl dd ul li a {
  text-decoration: none;
  color: #111;
  font-size: 14px;
}
.f-link dl dd ul li a:hover {
  text-decoration: underline;
}
.f-link dl dd ul li a:before {
  display: inline-block;
  content: '';
  background: url(../images/b03_img02.png) no-repeat;
  background-size: 100% auto;
  width: 12px;
  height: 10px;
  vertical-align: middle;
  margin-right: 10px;
}
.copyright {
  background: #484848;
  padding: 10px 0 11px;
}
.copyright p {
  text-align: center;
  margin: 0;
  color: #fff;
  font-size: 14px;
}
/*
font-family: 'NotoSansCJKjp-Black';
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-weight: bold;
font-family: 'NotoSansCJKjp-Medium';
font-family: 'NotoSansCJKjp-Regular';
font-family: 'NotoSerifCJKjp-Medium';
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-weight: bold;
*/
/**************Under************/
.topic-path {
  margin: 20px 0 15px 0;
}
.topic-path li {
  display: inline-block;
  font-size: 14px;
  line-height: 1.3em;
  margin-bottom: 10px;
}
.topic-path li a {
  text-decoration: none;
  color: #debb6f;
  font-size: 14px;
  font-family: 'NotoSansCJKjp-Medium';
}
.topic-path li:after {
  content: '>';
  margin-right: 5px;
  padding-left: 10px;
}
.topic-path li:last-child:after {
  content: none;
}
.topic-path li a:hover {
  text-decoration: underline;
}
.under section, .under .section {
  margin: 0 0 60px;
  overflow: hidden
}
.under section p:last-child, .under .section p:last-child, .under .section:last-child, .under section:last-child {
  margin-bottom: 0;
}
.under-tbl th, .under-tbl td {
  border: 1px solid #fff;
  background: #f3f3f3;
  padding: 5px 12px
}
.under-tbl th {
  color: #fff;
  background: #debb6f;
  font-weight: bold;
}
.note {
  color: #ab7d1a;
  font-size: 12px;
  margin-bottom: 10px;
}
.under #footer {
  border-top: 2px solid #DD9933
}
.vtop {
  vertical-align: top;
}
.lh0 {
  line-height: 0;
}
.f-call {
  display: none;
}
.anchor-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.anchor-list.mt {
  margin-top: 50px
}
.anchor-list li {
  display: flex;
  margin: 0 15px 20px;
  width: 30%;
}
.anchor-list.col_4 li {
  width: 46%
}
.anchor-list li a {
  display: flex;
  flex: 1;
  background: #b27b6f;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  padding: 13px 24px 13px 8px;
  position: relative;
  line-height: 1.6em;
}
.anchor-list li a:after {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3px 0 3px 6px;
  border-color: transparent transparent transparent #ffffff;
  right: 10px;
  top: calc(50% - 3px);
  content: '';
}
.txt_b {
  font-weight: bold
}
.anchor-list li a:hover {
  opacity: .8;
}
.under-list li {
  margin-bottom: 10px;
  padding-left: 15px;
  position: relative;
  line-height: 1.7em
}
.under-list li:before {
  position: absolute;
  content: '';
  width: 8px;
  height: 8px;
  background: #b27b6f;
  border-radius: 50%;
  left: 0;
  top: 9px;
}
.under-list li:last-child {
  margin-bottom: 0;
}
.under-list.wrap {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.under-list.wrap li {
  width: 50%;
}
.frame-gray {
  background: #f4f4f4;
  padding: 30px;
}
.frame-gray .under_frm + p img {
  width: 100px;
  height: 30px;
}
.frame-gray .under_frm ~ p {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5em;
}
.frame-gray .under_frm ~ p span {
  display: block;
  margin-top: 5px;
  color: #f18d00;
}
.under #main {
  width: 900px;
  margin: 0 auto;
  padding-bottom: 90px
}
.under #mainvisual {
  height: 420px;
  background: url(../images/under_main.jpg) no-repeat center;
  background-size: cover;
  position: relative;
}
.under h2 {
  position: relative;
  top: 33%;
  text-align: center;
  transform: translateY(-33%);
  font-size: 45px;
  font-family: 'NotoSansCJKjp-Medium';
  line-height: 1.5em;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.2), 0px 4px 4px rgba(0, 0, 0, 0.2);
  width: 900px;
  margin: 0 auto;
}
.under h3, .under h4, .under h5, .under h6 {
  line-height: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
}
.under h3 {
  font-size: 35px;
  text-align: center;
  padding: 65px 0 0 0;
  background: url(../images/under_h3.png) no-repeat center top;
  color: #333;
  margin-bottom: 40px;
}
.under h4 {
  font-size: 25px;
  color: #333
}
.under h4:first-letter {
  color: #f08c00
}
.under h5 {
  font-size: 22px;
  position: relative;
  padding-left: 20px;
  color: #f18d00;
}
.under h6 {
  font-size: 17px;
  color: #f18d00;
  border-bottom: 1px dashed;
  padding-bottom: 10px;
}
.under h5:before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  background: #BA6B60;
  width: 7px;
  height: 28px;
}
.under_frm {
  padding: 30px;
  overflow: hidden;
  border: 1px dashed #DD9933;
  background: #FBF6EE
}
.under_frm .number2_li li {
  margin-bottom: 10px
}
.txt_tit_r {
  font-size: 30px;
  font-family: "小塚明朝 Pr6N L", "DFHSMinchoR Pro-6N", "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  line-height: 1.5em;
  text-align: right;
  font-weight: bold
}
.txt_tit_r span {
  font-size: 20px;
  margin: 0 20px 0;
  font-weight: normal
}
.under_bnr p {
  margin-bottom: 20px
}
.under_bnr a {
  color: #fff;
  font-size: 28px;
  padding: 32px 30px;
  text-align: center;
  background: #B37A70;
  border-radius: 100px;
  display: block;
  text-decoration: none;
  font-family: 'NotoSansCJKjp-Medium';
  width: 80%;
  margin: 0 auto;
  position: relative;
  transition: all 0.5s ease;
  z-index: 1;
  overflow: hidden
}
.under_bnr a:after, .under_bnr a:before {
  content: "";
  position: absolute;
  border-radius: 100px;
}
.under_bnr a:after {
  width: 0;
  height: 0;
  background: #DD9933;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  transition: all 0.2s ease;
  right: 0;
  margin: 0 auto;
}
.under_bnr a:hover:after {
  width: 100%;
  height: 100%;
}
.under_bnr a:before {
  border: 1px solid #fff;
  top: 1px;
  left: 1px;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}
.under_bnr .web a {
  background: #DD9933
}
.img_c {
  text-align: center;
  line-height: 0;
  margin-bottom: 19px;
}
.frm01 {
  font-family: "小塚明朝 Pr6N L", "DFHSMinchoR Pro-6N", "ヒラギノ明朝 Pro W6", "Hiragino Mincho Pro", "HGS明朝E", "ＭＳ Ｐ明朝", serif;
  color: #474139;
}
.tbl_can th {
  background: #BA6B60;
  font-size: 13px
}
.tbl_can {
  table-layout: fixed;
  text-align: center;
  margin-bottom: 20px
}
.tbl_can td {
  background: #E1D4C5;
  font-size: 13px
}
.tbl_can th:first-child {
  width: 23%
}
[class *='under_gp'] {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
[class *='under_gp'] li {
  display: inline-block;
  margin: 0;
  padding: 10px;
  border: 1px solid #E1D4C5;
  border-radius: 5px
}
[class *='under_gp'].no-bor li {
  border: none;
}
[class *='under_gp'] li .box-ttl {
  max-width: 300px;
  width: 90%;
  margin: 0 auto 20px;
  padding: 50px 30px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background: #f18d00;
  line-height: 1.5em;
  font-weight: 700;
}
.under_gp_02 li {
  width: 48%;
}
.under_gp_03 li {
  width: 32%;
}
.under_gp_04 li {
  width: 24%;
}
.under_gp_05 li {
  width: 19%;
}
[class *='under_gp'] .img {
  margin-bottom: 15px;
  text-align: center
}
[class *='under_gp'] .tit {
  font-weight: bold;
  text-align: center;
  color: #DD9933;
  margin-bottom: 13px;
  font-size: 19px;
  line-height: 1.5em;
}
.number_li, .number2_li {
  counter-reset: number;
}
.number_li li, .number2_li li {
  position: relative;
  margin-bottom: 27px
}
.number_li li:last-child, .number2_li li:last-child {
  margin-bottom: 0
}
.number_li .tit {
  font-size: 19px;
  font-weight: bold;
  color: #BA6B60;
  margin-bottom: 16px;
  display: block;
  padding: 0 0 8px 22px;
  border-bottom: 1px dashed #BA6B60;
}
.number_li li:before {
  counter-increment: number;
  content: ""counter(number) ". ";
  font-size: 22px;
  font-weight: bold;
  color: #BA6B60;
  top: 0;
  position: absolute;
}
.number2_li li:before {
  counter-increment: number;
  content: ""counter(number) ". ";
  font-size: 18px;
  font-weight: bold;
  color: #BA6B60;
  left: 0;
  position: absolute;
}
.number2_li li {
  font-size: 18px;
  color: #BA6B60;
  font-weight: bold;
  line-height: 1.6em;
  padding-left: 22px
}
.number_li .txt {
  margin-bottom: 30px
}
.tbl01 td:nth-child(3) {
  text-align: right;
  width: 20%
}
.frm_tit {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #f18d00;
  margin-bottom: 10px;
  line-height: 1.5em;
}
.drop_box {
  margin-bottom: 30px
}
.drop_box dt {
  padding: 10px 20px 10px 35px;
  font-weight: bold;
  font-size: 20px;
  color: #f18d00;
  border-bottom: 1px dashed #EFDDC5;
  cursor: pointer;
  position: relative;
}
.drop_box dt:before {
  content: "";
  position: absolute;
  top: 19px;
  width: 10px;
  height: 10px;
  background: #f18d00;
  left: 15px;
  transform: rotate(45deg);
}
.drop_box dt:hover {
  background: #EFDDC5;
  border-bottom: 1px dashed #EFDDC5
}
.drop_box dd {
  overflow: hidden;
  padding: 20px;
  border-bottom: 1px solid #FDF1E0;
  border-left: 1px solid #FDF1E0;
  border-right: 1px solid #FDF1E0;
  display: none;
  background: #F5F5F5
}
.under_bnr.mt {
  margin-top: 60px
}
.check_list li {
  margin-bottom: 10px;
  line-height: 1.7em;
  padding-left: 30px;
  position: relative;
  font-size: 17px;
}
.check_list li:before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 22px;
  height: 20px;
  background: url(../images/ico_check.png) no-repeat 0 0;
  background-size: 22px;
}
.check_list.col_2 li {
  display: inline-block;
  width: 47%;
  vertical-align: top;
  color: #ba6a60;
}
.check_list.col_2 li:nth-last-child(1), .check_list.col_2 li:nth-last-child(2) {
  margin-bottom: 0;
}
.grp_2 {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
.grp_2 .item {
  width: 48%;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  background: #F1F1F1;
}
.mt_txt {
  margin-top: 35px
}
.step {
  position: relative;
  margin-bottom: 100px;
}
.step dt {
  font-size: 19px;
  font-weight: bold;
  color: #BA6B60;
  background: #E1D4C5;
  padding: 10px 20px;
  line-height: 1.5em
}
.step dd {
  padding: 20px;
  background: #EDEBE9;
}
.step:after {
  content: '';
  position: absolute;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 30px solid #995e57;
}
.list_b {
  font-weight: bold;
  color: #BA6B60
}
.step.last {
  margin-bottom: 0
}
.step.last:after {
  display: none
}
.frm_tit_01 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: #f18d00;
  margin-bottom: 20px;
  line-height: 1.5em;
  border-bottom: 1px dashed #f18d00;
  padding-bottom: 10px;
}
/*========================FIX firefox ==============================*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .check_list li:before {
    top: -1px
  }
  .drop_box dt:before {
    top: 16px;
  }
}
.red {
  color: #ff0000
}
.map_c {
  width: 100%;
  height: 400px
}
/******slider thumbanil**************/
.event-slide {
  margin-bottom: 10px
}
.event-slide li {
  width: 100%;
  text-align: center;
  position: relative;
  height: 466px;
  line-height: 0;
  background: #eae9e6;
}
.event-slide li img {
  max-width: 100%;
  position: relative;
  top: 50%;
  margin: 0 auto;
  transform: translateY(-50%);
}
.event-caption {
  text-align: left;
  font-size: 80%;
  background: rgba(82, 58, 31, 0.9);
  padding: 15px;
  color: #fff;
  position: absolute;
  margin: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
.event-caption span:nth-child(1) {
  display: block;
  font-size: 17px;
  font-weight: bold;
}
.event-nav li img {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
  margin: 0 auto;
}
.event-nav {
  left: -1px
}
.event-nav li {
  height: 76px;
  background: #fffcf5;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #eee;
  display: inline-block !important;
  overflow: hidden;
  line-height: 0;
  opacity: 0.8;
}
.event-nav li.slick-current {
  opacity: 1;
}
.event-nav li:hover {
  opacity: 0.7;
}
.event-nav .slick-track {
  display: flex;
  justify-content: center;
  width: 100% !important
}
.event-slide button {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  text-indent: -5000px;
  cursor: pointer;
  z-index: 99;
  border: 1px solid #ddd;
}
.event-slide button:hover {
  border: 1px solid #DD9933
}
button:active, button:focus, button:visited, button::-moz-focus-inner {
  outline: none !important;
  border: 0;
}
.event-slide button.slick-prev.slick-arrow {
  left: 0;
  background: url(../images/btn_pre.jpg) no-repeat center;
}
.event-slide button.slick-next.slick-arrow {
  right: 0;
  background: url(../images/btn_next.jpg) no-repeat center;
}
.txt_name {
  font-size: 20px;
  font-weight: bold
}
.txt-brown {
  color: #b27b6f;
}
.img_cal img {
  width: 100%
}
.noclick a, .no-hover a {
  cursor: text !important;
}
.f-link dl dd ul .noclick a:hover {
  text-decoration: none
}
.red_under {
  text-decoration: underline;
  color: #ff0000
}
.mt_30 {
  margin-top: 30px
}
.b03-bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.b03-box .h-tel {
  flex-direction: column;
}
.b03-box .h-tel li:first-child {
  margin-right: 0;
  text-align: center;
}
.b03-scheduletxt {
  font-size: 11px;
  line-height: 1.4em;
  margin-bottom: 50px;
}
.b03-scheduletxt span {
  color: #fcc000;
}
.box03 h4 {
  text-align: center;
  margin-bottom: 40px;
}
.box03 .h-cont {
  margin-bottom: 0;
}
.box03 .h-cont a {
  padding: 8px 25px 10px;
}
.staff-bnr {
  display: flex;
  justify-content: center;
  align-items: center;
}
.staff-bnr span {
  margin: 0 10px;
  border: 1px solid #ececec;
}
.staff-bold {
  font-weight: bold;
  margin-bottom: 0;
}
iframe {
  border: 0;
}
.con_map iframe {
  width: 100%;
  height: 350px;
  margin-bottom: 10px
}
a.group {
  transition: all .3s;
}
a.group:hover {
  opacity: .9;
}
.sub-ttl {
  font-weight: bold;
  text-align: center;
  color: #DD9933;
  margin-bottom: 13px;
  font-size: 19px;
  line-height: 1.5em;
}

/*190830*/
.visibility {
  visibility: hidden;
}
.esthetic {
  background: url('../images/esthetic_img14.jpg') center 0 no-repeat;
  background-size: cover;
  padding: 80px;
}
.esthetic .container {
  width: 50%;
  margin: 0;
  padding: 0;
}
.esthetic .box-btn {
  display: block;
  border: #bfbfbf 3px solid;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  color: #333;
  text-decoration: none;
  max-width: 600px;
  margin: 0 auto;
  transition: all .3s;
}
.esthetic .box-btn p:nth-child(1) {
  margin-bottom: 5px;
}
.esthetic .box-btn p:nth-child(2) {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: bold;
  font-size: 22px;
  letter-spacing: .2em;
  margin-bottom: 5px;
  line-height: 1em;
}
.esthetic .box-btn p:nth-child(3) {
  margin-bottom: 0;
}
.esthetic .box-btn p:nth-child(3):before {
  position: relative;
  content: '';
  display: inline-block;
  margin-right: 15px;
  top: -1px;
  background: url("../images/arrow_01_01.png") no-repeat;
  background-size: 100% auto;
  width: 12px;
  height: 10px;
  transition: all .3s;
}
.esthetic .box-btn:hover {
  background: #f18d00;
  color: #fff;
  border: #f18d00 3px solid;
}
.esthetic .box-btn:hover p:nth-child(3):before {
  background: url("../images/b03_img02_01.png") no-repeat;
  background-size: 100% auto;
}